.app {
  background-color: transparent;
  display: flex;
  flex-grow: 1 ;
  flex-direction: row;
}

#appbar{
  background-color:#0D1117;
}

.editor {
  width: 50vw;
  box-sizing: border-box;
  height: 100vh;
}

#preview{
  flex: 0 0 50%;
  padding: 12px;
  box-sizing: border-box;
  font-size: 0.8rem;
  color: #abb2bf;
  overflow-y: scroll;
  height: 100vh;
}

.toolbar-button{
  margin: 10px;
}
